
		{% extends 'base.html' %}
		{% block content %}
		</div id = "content">
	 		{% for category in categories %}
	 			<div class = "description">
	 				<li class = "name">{{% category.name %}}</li>
	 				<li class = "job">{{% category.job %}}</li>
	 				<li class = "location">{{%category.location%}}</li>
	 			</div>
	 			<div class = "price">
	 				<h3>{{% category.price %}}</h3>
	 			</div>
	 			<!--PLEASE SET progress FOR THE ORIGINAL POSTER TO SHOW THE BOTTOM DIV WHEN ACCEPT-BTN IS CLICKED. -->
	 			<div class = "accept-btn">
	 				<h3>Accept</h3>
	 			</div>
	 		{% endfor %}
	 	</div>
	 	{% endblock %}

	 	{% block content %}
	 	{% if progress %}
	 		<div class = "progress">
	 			<h2>{{% progress.name %}} is currently working on your job! Hit pay when your job has been completed!</h2>
	 			<!--PLEASE SET progress TO HIDE THIS DIV WHEN THE FOLLOWING BUTTON IS CLICKED-->
				<form name="_xclick" action="https://www.paypal.com/uk/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="business" value="{{% THE_STORED_EMAIL_FOR_PAYING %}}">
				<input type="hidden" name="currency_code" value="USD">
				<input type="hidden" name="item_name" value="{{% THE_STORED_JOB_NAME %}}">
				<input type="hidden" name="amount" value="{{% THE_STORED_PRICE %}}">
				<input type="image" src="http://www.paypal.com/en_GB/i/btn/x-click-but01.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
				</form>
	 		</div>
	 	{% endif %}
