
/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    min-width: 650px;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	color:#444;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;    
}

#wrapper{
    width: 100%;
    height: 100%;
    background-image: url('laptop-849799_1920.jpg');
    -webkit-filter: blur(2px);
    filter: blur(2px);
    display: block;
    z-index: 1;
    position:absolute;
    top: -20%;
    left:-20%;
    padding-left: -20%;
    padding-top: -20%;
}

#mask{

    width: 80%;
    height: 80%;
    border: 2px solid #023E58;
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 10%;
    z-index: 10;
    overflow: hidden;
    position: fixed;
}

body {

    width: 100%;
    height: 100vh;
    background-image: url('laptop-849799_1920.jpg');
    z-index: 2;
    position: fixed;
}

.content{

    width: 80%;
}

.left{

    width: 42.5%;
    padding: 2.5%;
    float: left;
}

.right {

    width: 42.5%;
    padding: 2.5%;
    float: right;
}
